body{
    text-align: center;
font-size: 30px;
background: url("mbta-red-line-map_761147.png");
background-size: cover;
background-repeat: no-repeat;

}
.container{
    background: white;
    opacity: .1 ;
}
.jumbotron{

    font-size: 60px;
    width: 100%;

}

#submit{
    font-size: 15px;

}
.table{
    text-align: center;
}
form{
 font-size: 12px;
    
}

tbody{
    text-align: center;
    font-size: 12px;
   
}
th{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.form-group{
    display: inline-block;


}
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }