body{
    text-align: center;
font-size: 30px;

}
.jumbotron{
    color: red;
    background: orange;
    font-size: 60px;
    width: 100%;

}

#submit{
    background: orange;
    color: red;

}
form{
 font-size: 30px;
    
}

tbody{
    text-align: center;
    font-size: 12px;
   
}
th{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}