
body{
    color: black;
    background-image: url("assests/images/architecture-city-commute-1769337.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: auto;    
    text-align: center;
    font-size: 30px;
    
}

.container{

    text-align: center;
  
}
i{
    color: black;
}
.jumbotron{
    background: rgb(204, 204, 204); 
    background: rgba(237, 236, 236, 0.7);
    font-size: 60px;
    width: 100%;

}
#time{
    font-size: 40px;
    padding: 10px;
}

#submit{
    color: black;
    font-size: 15px;
    background: rgb(204, 204, 204); 
    background: rgba(237, 236, 236, 0.7);
    padding: 2px;

}
.table{
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
       background: rgba(237, 236, 236, 0.7);


}
#trainSection{
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
       background: rgba(237, 236, 236, 0.7);


}
form{
    font-size: 12px;
    color: black;
    background: rgb(204, 204, 204); 
       background: rgba(237, 236, 236, 0.7);

    
}

tbody{
    text-align: center;
    font-size: 12px;
    background: white;

   
}
th{
    
    font-size: 20px;
   
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
       background: rgba(237, 236, 236, 0.7);

  
}

th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){
     

      background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
      background: rgba(245, 235, 235, 0.7);
    }
    tr:nth-child(odd){
     

        background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(203, 125, 125, 0.7);
      }


.form-group{
    display: inline-block;

}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }